<ion-header>
  <ion-navbar>
    <ion-title>
      Facebook Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding text-center>
  <button ion-button (click)="signInWithFacebook()" block>Login</button>
</ion-content>
