<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item text-center no-lines>
    <img class="circle" [src]="user.photoURL" alt="Profile Photo" />
  </ion-item>
  <h1>{{user.displayName}}</h1>
  <h6>{{user.email}}</h6>

  <ion-list>
    <ion-item class="no-padding" no-lines *ngFor="let blog of blogList | async">
      <ion-card *ngIf="blog.uid === user.uid">
        <ion-card-header>
          <h1>{{blog.title}}</h1>
        </ion-card-header>
        <ion-card-content>
          {{blog.content}}
        </ion-card-content>
        <ion-item>
          <span item-left>{{blog.auther}}</span>
          <span item-left>{{blog.date}}</span>
        </ion-item>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
