<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right>
    <button ion-fab mini (click)="addBlog()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <p>
    New from your network.
  </p>
  <ion-list>
    <ion-card *ngFor="let blog of blogList | async">
      <ion-card-header>
        <h1>{{blog.title}}</h1>
      </ion-card-header>
      <ion-card-content>
        {{blog.content}}
      </ion-card-content>
      <ion-item>
        <span item-left>{{blog.auther}}</span>
        <span item-left>{{blog.date}}</span>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>
