<ion-menu [content]="content">

  <ion-content padding>
    <img class="circle" [src]="user.photoURL" alt="Profile Photo">
    <h6>{{user.displayName}}</h6>
    <h6 class="subtitle" style="color:gray;" (click)="openProfilePage()">See profile</h6>

    <hr>

    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>

    <hr>

    <ion-list>
      <button menuClose ion-item (click)="logout()" style="color:gray;">
        Logout
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
